{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

<style>
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-color:#93a1a1;border-spacing:50px;margin:50px auto;}
.tg td{background-color:#fdf6e3;border-color:#fff;border-style:solid;border-width:0px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:0px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-yt02{border-color:inherit;!important;;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-hq8v{background-color:#fdf6e3;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-e7kg{background-color:#fdf6e3;border-color:#ffffff;font-weight:bold;text-align:center;vertical-align:top;border-width:5px}
.tg .tg-urjj{background-color:#657b83;text-align:left;vertical-align:top}
.tg .tg-c6of{background-color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-fymr{border-color:#ffffff;font-weight:bold;text-align:center;vertical-align:top;border-width:5px}
.tg .tg-hdk6{background-color:#657b83;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-9l1h{background-color:#657b83;border-color:inherit;color:#f6f5d5;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-r6ly{background-color:#657b83;color:#f6f5d5;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-ycr8{background-color:#ffffff;text-align:left;vertical-align:top;padding:0px}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-c6of"></th>
    <th class="tg-fymr">Dilluns</th>
    <th class="tg-fymr">Dimarts</th>
    <th class="tg-fymr">Dimecres</th>
    <th class="tg-fymr">Dijous</th>
    <th class="tg-fymr">Divendres</th>
    <th class="tg-fymr">Dissabte</th>
    <th class="tg-fymr">Diumenge</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-hdk6"></td>
    <td rowspan="2" style="vertical-align : middle;text-align:center;" class="tg-e7kg">LLegums</td>
    <td class="tg-e7kg">Tubercles</td>
    <td class="tg-e7kg">Arros</td>
    <td class="tg-e7kg">Tubercles</td>
    <td rowspan="2" style="vertical-align : middle;text-align:center;" class="tg-e7kg">Llegums</td>
    <td class="tg-e7kg">NA</td>
    <td class="tg-e7kg">NA</td>
  </tr>
  <tr>
    <td class="tg-9l1h">Dinar</td>
    <td class="tg-e7kg">Peix</td>
    <td class="tg-e7kg">Carn</td>
    <td class="tg-e7kg">Peix</td>
    <td class="tg-e7kg"></td>
    <td class="tg-e7kg"></td>
  </tr>
  <tr>
    <td class="tg-hdk6"></td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg"></td>
    <td class="tg-e7kg"></td>
  </tr>
    <tr>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
    <td class="tg-ycr8"></td>
  </tr>
  <tr>
    <td class="tg-urjj"></td>
    <td class="tg-e7kg">Arros</td>
    <td class="tg-e7kg">Pa Integral</td>
    <td rowspan="2" style="vertical-align : middle;text-align:center;" class="tg-e7kg">Llegums</td>
    <td class="tg-e7kg">Pa Integral</td>
    <td class="tg-e7kg">Tubercles</td>
    <td class="tg-e7kg"></td>
    <td class="tg-e7kg"></td>
  </tr>
  <tr>
    <td class="tg-r6ly">Sopar</td>
    <td class="tg-e7kg">Pollastre</td>
    <td class="tg-e7kg">Ous</td>
    <td class="tg-e7kg">Ous</td>
    <td class="tg-e7kg">Peix</td>
    <td class="tg-e7kg"></td>
    <td class="tg-e7kg"></td>
  </tr>
  <tr>
    <td class="tg-urjj"></td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg">Verdura</td>
    <td class="tg-e7kg"></td>
    <td class="tg-e7kg"></td>
  </tr>
</tbody>
</table>

  <ul>
     {{ $pages := .Pages }}
     {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
     {{ range (where $pages "Section" "!=" "") }}
     <li>
       <span class="date">{{ .Date.Format "2006/01/02" }}</span>
       <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
     </li>
     {{ end }}
   </ul>
</div>
{{ partial "footer.html" . }}
